@model (string, BeatSorter.ViewModels.BeatmapListViewModel)
@using BeatSorter.Util.View
@{
    ViewData["Title"] = "Mapper";
}

@if (Model.Item1 == null)
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                <h6 class="m-0"><b>User not found. <a href="@Url.Current(new { id = "", page = 0 }, "Beatmap", "List")">View beatmaps uploaded by anyone.</a></b></h6>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <h6 class="m-0">Viewing beatmaps uploaded by <b>@Model.Item1</b>. <a href="@Url.Current(new { id = "", page = 0 }, "Beatmap", "List")">View beatmaps uploaded by anyone.</a></h6>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("List", Model.Item2)
}
